/* Skeleton.css */
.skeleton {
    display: flex;
    flex-direction: row;
    background: url(../public/background.png);
    width: 94vw;
    border: solid 5px black;
    margin: 2vw;
    gap: 1rem;
    padding: 10px;
    justify-content: space-between;
    background-size: cover;
  background-position: center; 
    border-radius: 5px;
  }

  .skeleton-item {
    margin: 2vh;
    width: 30vw;
    height: 60vh;
    background-color: white;
    border-radius: 4px;
  }
  