/* Skeleton.css */
.skeleton {
  background: url('/public/background.png') ;
  background-size: cover;
background-position: center; 
  width: 94vw;
  border: solid 5px black;
  border-top: solid 10px black;
  border-bottom: solid 10px black;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
  }

  .skeleton-item {
    height: 60vh;
    width: 18vw;
    margin: 2vw;
    overflow: hidden;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: gray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .skeleton::before {
    position: absolute;
    content: 'News';
    font-weight: bold;
    font-size: 4rem;
    color: white;
    background-color: #c18bee;
    border: solid 5px black;
    border-bottom: solid 10px black;
    border-right: solid 10px black;
    border-radius: 5px;
    top: 5vh;
    left: 1vw;
    width: 10vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-15deg); /* Rotate by 30 degrees */
    text-shadow:    
    2px -2px 0 #000,
    -3px -3px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    z-index: 2;
  }

  @media (max-width: 480px){
    .skeleton::before{
      left: 10vw;
      font-size: 2rem;
      width: 25vw;
      height: 5vh;
    }
    .skeleton{
      width: 86vw;
      margin-left: 1vw;
      margin-right: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  
    }
    .skeleton-item {
      width: 70vw;
    }
  }
  